.CategoriesLink {
    width: 85%;
    margin: 0 auto;
    text-decoration: none;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 18px;
}
.CategoriesLink span {
    color: var(--text-color-gray)
}